*{
    box-sizing: border-box;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    background: url("https://i.pinimg.com/originals/bb/61/8d/bb618db7d825e2e03c8d86f781a65e06.jpg") no-repeat center center fixed;
    margin:0;
    padding:0;
}
#f1{
    font-family: 'Cursive';
    color: orange;
    font-size: 40px;
}
h1{
    font-family: 'Shadows Into Light';
    color:skyblue;
    font-size: 100px;
    margin-left: 70px;
}
p{
    color:red;
    font-size:40px;
    font-family:'Monoton'
}
*:focus{
    outline: 0;
}
.wrapper{
    margin:100px auto 0;
    width:50%;
    max-width:1000px;
    display:flex;
    justify-content: center;
}
form{
    width:100%;
    margin: 0;
}
form *{
    font-size:20px;
    letter-spacing:0.075em;
    font-weight:300;
    cursor:pointer;
    text-decoration:none;
}
form .field{
    width:100%;
    position: relative;
    margin-bottom: 15px;
}
form .field label{
    font-family: 'Acme';
    color: white;
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(90deg,orangered,blue);
    width:100%;
    height: 64px;
    transition: width 333ms ease-in-out;
    text-align:center;
    padding:18px 0;
}
form .field input[type="text"],form .field input[type="password"],form .field select,
form .field textarea{
    font-family: 'Acme';
    border:none;
    width:100%;
    height:64px;
    margin:0;
    padding-left: 19.5%;
    color:black;
}
form #desc{
    height:64px;
    resize:none;
    transition: all 333ms ease-in-out;
    padding-top: 18px;
}
form textarea:focus#desc,
form textarea:not(:placeholder-shown)#desc{
    height:166px;
}
form input[type="text"]:focus + label,
form input[type="text"]:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field:hover label{
    width:18%;
}
form input[type="submit"]{
    font-family: 'Acme';
    color:whitesmoke;
    background: linear-gradient(90deg,orangered,blue);
    -webkit-appearance:none;
    border:none;
    position:relative;
    padding:13px 50px;
    transition: all 0.3% ease-in-out;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus{
    background: peachpuff;
    color: slateblue;
}